<div style="text-align: center;" class="pt-5">
  <div>
    <img src="../../../assets/logo/logo.jpg" alt="">
  </div>
  <div class="btn btn-primary mt-3" (click)="auth.login()"><i class="fa fa-google" aria-hidden="true"></i> Sign in with google</div>
  <!-- <div class="row">
    <div class="col-4">
      <div class="mt-3 border border-primary rounded h3 m-3 d-flex justify-content-center p-2 text-primary google">
        <div class="mx-2"><i class="fa fa-google" aria-hidden="true"></i></div>
        <div>Sign in with google</div >
      </div>
    </div>
  </div> -->
</div>
<div class="footer p-3">
  Powered by suvarsh technology
</div>

