<div class="my-3 p-3 row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <h3 class="mb-0 text-success">{{ this.userData?.displayName | uppercase}}</h3>
    <div class="mb-1 text-muted">{{ this.userData?.bod }}</div>
    <p class="card-text mb-auto">{{ this.userData?.phoneNumber }}</p>
    <a class="stretched-link">{{ this.userData?.pincode }}</a>
  </div>
  <div class="col-auto d-lg-block">
    <img src="{{this.userData?.photoURL}}" alt="" srcset="">
  </div>
</div>
