<div class="shadow px-2 py-3 mb-4" *ngIf="auth.authenticationState.value">
  <div id="mySidenav" class="sidenav">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="/home" routerLinkActive='active'>Home</a>
    <a routerLink="/feedback" routerLinkActive='active'>Feedback</a>
    <a routerLink="/contact-us" routerLinkActive='active'>Contact Us</a>
    <a (click)="deleteAccount()">Delete Account</a>
    <a (click)="logout()">Log out</a>

  </div>

  <div id="main" class="container">
    <div class="d-flex justify-content-between">
      <div (click)="openNav()" class="btn my-2">
        <i class="fa fa-bars fa-2x btn-ripple" aria-hidden="true"></i>
      </div>
      <h6>
        <img src="../assets/logo/logo.jpg" alt="" srcset="">
      </h6>
    </div>
  </div>
</div>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
