<div class="container" *ngIf="auth.authenticationState.value" class="p-3">
  <div id="mySidenav" class="sidenav">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="/home" routerLinkActive='active'>Home</a>
    <a (click)="auth.logout()">Log out</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>

  <div id="main" class="container">
    <div class="d-flex justify-content-between">
      <div (click)="openNav()" class="btn">
        <i class="fa fa-bars fa-2x btn-ripple" aria-hidden="true"></i>
      </div>
      <h6>
        <img src="../assets/logo/logo.jpg" alt="" srcset="">
      </h6>
    </div>
  </div>
</div>
<div class="">
  <router-outlet></router-outlet>
</div>
